//reset slick slider css
.slick-prev{
    //position: relative !important;
    left: -10 !important;
    z-index: 1000 !important;
    height: 48px !important;
    width: 44px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;
    &:hover{
        background: #d7d7d7 !important;
    }
}

.slick-prev::before, .slick-next::before{
    font-family: FontAwesome !important;
    color: red !important;
}

.slick-next{
    right: -10 !important;
    z-index: 1000 !important;
    height: 48px !important;
    width: 44px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;
    &:hover{
        background: #d7d7d7 !important;
    }
}
.section-share{
    &.section-specialty{
        background: #e4e1e1;
    }

    &.section-outstanding-doctor{
        background: #e4e1e1;
    }
    
    .section-body{

        .section-customize{
            .bg-image{
                width: 300px;
                height: 150px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: #eee;

                &.section-specialty{
                    background-image: url('../../assets/specialty/co-xuong-khop.jpg');
                }

                &.section-medical-facility{
                    background-image: url('../../assets/medical-facility/benh-vien-thu-cuc.jpg');
                }

                &.out-standing-doctor{
                    //background-image: url('../../assets/out-standing-doctor/dungphan_200.jpg');
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                }

                &.section-handbook{
                    background-image: url('../../assets/handbook/bookingcare-cover-2.jpg');
                }

            }
        }
    }

    &.section-about{
        height: 500px !important;
        border-top: 1px solid#291313;
        border-radius: 1px solid#251212;

    }
}

.section-share{
    height: 330px;
    background: #f5f5f5;

    .section-container{
        margin: 0 100px;
        display: flex;
        flex-direction: column;

        .section-header{
            height: 60px;
            margin-bottom: 30px;
            padding-top: 30px;

            .title-section{
                font-size: 22px;
                font-weight: 600;
            }

            .btn-section{
                float: right;
                padding: 10px 15px;
                border: none;
                outline: none;
                display: block;
                background: #ebebeb;
                color: black;
                cursor: pointer;
                text-transform: uppercase;

                &:hover{
                    color: #fff;
                    background: #f7d800;
                }
            }
        }
    }
}

.section-outstanding-doctor{
    .outer-bg{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;

    }

    .section-customize{
        padding:5px;

        .customize-border{
            border: 1px solid rgb(148, 146, 142);
            padding: 10px 20px;
        }
    }
}

.home-footer{
    text-align: center;
    padding-top: 8px;

    a{
        text-decoration: unset;
    }
    
}

.section-about{
    padding: 0 100px;

    .section-about-header{
        padding: 20px 10px;
        font-size: 22px;
        font-weight: 600;
    }

    .section-about-content{
        display: flex;
        gap: 15px;
        width: 100%;

        .content-left{
            width: 60%;
        }

        .content-right{
            width: 40%;


            p{
                text-align: justify;
                font-style: italic;
                padding-top: 15px;
            }
        }
    }
}




